*.iml
.gradle
.idea/*
.idea
app/.idea
/.idea
*.apk

/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
app/.idea/workspace.xml
app/.idea/runConfigurations.xml
app/.idea/misc.xml
app/.idea/migrations.xml
app/.idea/gradle.xml
app/.idea/caches/deviceStreaming.xml
*.salive
app/.idea/vcs.xml
app/.idea/.name
/.idea
/.idea
/.idea
/.idea
