.gradle
/.idea
/build
/.kotlin
*.apk
local.properties
/compose-reports
/compose-metrics
/feature/music-player/build
/feature/music-home/build
/feature/music-artist/build
/feature/music-album/build
/feature/music-search/build
/feature/video/build
/feature/music-categorydetail/build
/core/common/build
/core/data/build
/core/database/build
/core/datastore/build
/core/designSystem/build
/core/domain/build
/core/model/build
/core/music-media3/build
/core/video-media3/build
/build-logic/convention/build
/app/build
/app/.gradle
